



@media screen and (min-width: 705px) {

    header {
            width: 100%;
            height: auto;
            background-color: #71B340;
            box-shadow: 1px 1px 2px rgb(25, 126, 67);
            margin-bottom: 4rem;
        }

    .header-contents {
        box-shadow: none;
    }
    
    nav ul {
        display: flex;
        position: absolute;
        top: .1rem;
        right: .5rem;
    }

        
    .ham-button {
        display: none;
    }

    footer {
    box-shadow: 1px -1px 2px orange;
    min-width: 705px;
    background-color: #FAA916;
}




}