@media screen and (min-width: 1025px) {
    .discover-cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .discover-cards section:hover {
        transform: scale(1.01);
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.332);
    }
}