:root {
    --primary-color: #71B340;
    --secondary-color: #775144;
    --accent-color: #FAA916;
    --white-shade: #faf9f6;
    --dark-shade: #1a2a40;
    --heading-font: "DM Serif Text", serif;
    --heading-color: #11270B;
    --body-font: "Merriweather", serif;
    --body-font-size: clamp(.9rem, 2vw, 1.1rem);
    --yellow-shadow: 1px 1px 2px rgb(25, 126, 67);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--dark-shade);
}

body {
    background-color: var(--white-shade);
}

header,
footer,
.companies {
    min-width: 320px;
}

.header-contents,
main,
.footer {
    max-width: 1000px;
    margin: 0 auto;
}

.header-contents {
    position: relative;
    background-color: var(--primary-color);
    box-shadow: var(--yellow-shadow);
    
}

.icon {
    padding: .5rem;
}

.icon {
    display: flex;
    align-items: center;
    gap: .2rem
}

.icon p {
    font-weight: 800;
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

nav li {
    list-style: none;
    display: block;
    text-align: center;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 1.2rem;
    font-size: 1rem;
}

nav a:hover {
    background-color: var(--secondary-color);
    color: var(--white-shade);
    border-radius: 7px;
}

.ham-button::after {
    content: "\2630";
    position: absolute;
    top: .6rem;
    right: .5rem;
    font-size: 33px;
    border: none;
}

.ham-button.open::after {
    content: "\00D7";
}

.ham-button {
    border: none;
}

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: minmax(90px, auto);
    font-size: var(--body-font-size);
    padding: 2rem;
    text-align: center;
    align-items: start;
    gap: 1rem;
    background-color: var(--accent-color);
    box-shadow: 1px -1px 2px orange;
    
}

.footer div {
    margin: 1rem;
    min-height: 90px;
}   

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer-icons img {
    width: 54px;
    height: 54px;
    aspect-ratio: 1/1;
    display: block;
    object-fit: contain;
}

.footer-dates p,
.footer-contact p,
.footer-title {
    min-height: 1.3rem;
    line-height: 1.3;
}

#lastModified {
    min-height: 1.3rem;
    display: block;
    white-space: nowrap;
}

#grid,
#list {
    padding: .4rem 1rem;
    border: none;
    background-color: var(--white-shade);
    border-radius: 7px;
    box-shadow: 2px 2px 3px var(--secondary-color);
    margin-left: 1rem;
    cursor: pointer;
    transition: 0.2s ease;
}

#grid:hover,
#list:hover {
    background-color: var(--heading-color);
    color: var(--white-shade);
    transform: scale(1.1);
    box-shadow: 3px 3px 4px var(--secondary-color);
}

.companies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
    min-height: 70vh;
}

.companies section {
    box-shadow: 1px 1px 2px var(--dark-shade);
    padding: 1.5rem;
    border-radius: 7px;
    transition: 0.2s ease;
}

.companies section:hover {
    transform: scale(1.05);
}


.companies h3,
.companies p {
    margin-top: .5rem;
}

.companies img {
    height: 70px;
    width: auto;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.list section {
    display: grid;
    grid-template-columns: .75fr 1.5fr 1.5fr 1fr;
    padding: 1rem;
    align-items: center;
    text-align: center;
}

.list section h3 {
    text-align: left;
}


.list img {
    display: none;
}

