:root {
    --primary-color: #71B340;
    --secondary-color: #775144;
    --accent-color: #FAA916;
    --white-shade: #faf9f6;
    --dark-shade: #1a2a40;
    --heading-font: "DM Serif Text", serif;
    --heading-color: #11270B;
    --body-font: "Merriweather", serif;
    --body-font-size: clamp(.9rem, 2vw, 1.1rem);
    --yellow-shadow: 1px 1px 2px rgb(25, 126, 67);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--dark-shade);
}

body {
    background-color: var(--white-shade);
}

h1,
h2,
h3 {
    font-family: var(--heading-font);
}

h1 {
    color: var(--heading-color);
    text-shadow: 1px 1px 1px var(--primary-color);
}
header,
footer,
.companies {
    min-width: 320px;
}

.header-contents,
main,
.footer {
max-width: 1000px;
margin: 0 auto;
}

main {
    padding: 1rem
}

header {
    background-color: var(--primary-color);
    box-shadow: var(--yellow-shadow);
}

.header-contents {
    position: relative;
}

header button {
    display: block;
}

#wayfinding {
    background-color: var(--heading-color);
    color: var(--white-shade);
    border-radius: 7px;
}
    
.icon {
    display: flex;
    align-items: center;
    gap: .3rem;
    padding: .5rem;
}

.icon p {
    font-weight: 800;
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

nav li {
    list-style: none;
    display: block;
    text-align: center;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 1.2rem;
    font-size: 1rem;
}

nav a:hover {
    background-color: var(--secondary-color);
    color: var(--white-shade);
    border-radius: 7px;
}

.ham-button::after {
    content: "\2630";
    position: absolute;
    top: .6rem;
    right: .5rem;
    font-size: 33px;
    border: none;
}

.ham-button.open::after {
    content: "\00D7";
}

.ham-button {
    border: none;
}

footer {
    margin-top: 2rem;
}

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: minmax(90px, auto);
    font-size: var(--body-font-size);
    padding: 2rem;
    text-align: center;
    align-items: start;
    gap: 1rem;
    background-color: var(--accent-color);
    box-shadow: 1px -1px 2px orange;
    min-height: 180px;
}

.footer div {
    margin: 1rem;
    min-height: 90px;
}   

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer-icons img {
    aspect-ratio: 1/1;
    display: block;
    object-fit: contain;

    width: 54px;
    height: 54px;
}

.footer-dates p,
.footer-contact p,
.footer-title {
    min-height: 1.3rem;
    line-height: 1.3;
}

#lastModified {
    min-height: 1.3rem;
}

#grid,
#list {
    padding: .4rem 1rem;
    border: none;
    background-color: var(--white-shade);
    border-radius: 7px;
    box-shadow: 2px 2px 3px var(--secondary-color);
    margin-left: 1rem;
    cursor: pointer;
    transition: 0.2s ease;
}

#grid:hover,
#list:hover {
    background-color: var(--heading-color);
    color: var(--white-shade);
    transform: scale(1.1);
    box-shadow: 3px 3px 4px var(--secondary-color);
}

.companies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
    min-height: 70vh;
}

.companies section {
    box-shadow: 1px 1px 2px var(--dark-shade);
    padding: 1.5rem;
    border-radius: 7px;
    transition: 0.2s ease;
    min-height: 140px;
}

.companies section:hover {
    transform: scale(1.05);
}


.companies h3,
.companies p {
    margin-top: .5rem;
}

.companies img {
    height: 70px;
    width: auto;
    object-fit: contain;
    display: block;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.list section {
    display: grid;
    grid-template-columns: .75fr 1.5fr 1.5fr 1fr;
    padding: 1rem;
    align-items: center;
    text-align: center;
    min-width: 0;
}

.list section h3 {
    text-align: left;
}

.list section p {
    overflow-wrap: anywhere;
    white-space: normal;
}


.list img {
    display: none;
}

.hero {
    position: relative;
    display: block;
}

.hero-title {
    position: absolute;
    background-color: var(--dark-shade);
    padding: 1rem;
    left: 50%;
    transform: translateX(-50%);
    top: 3rem;
    opacity: 90%;
    border-radius: 5px;
}

.hero-title p {
    color: var(--white-shade);
    font-size: clamp(1.3rem, 4vw, 2.7rem);
    text-align: center;
}

.hero-title button {
    margin-top: .7rem;
    display: flex;
    justify-self: center;
    padding: 10px 1.7rem;  
    border: none;
    border-radius: 3px;
    background-color: rgb(227, 218, 218);
}

.hero-title button:hover {
    background-color: white;
    border: none;
    border-radius: 3px;
}

.hero img {
    width: 100%;
}

h2 {
    text-align: center;
    margin: 1rem;
    color: var(--heading-color);
    margin-top: 3rem;
    
}

.event-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    gap: 2rem;
}

.event-cards section {
   background-color: var(--primary-color);
   color: var(--white-shade); 
   border-radius: 10px;
   padding-bottom: 8px;
   box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.633);
}

.event-cards h3 {
    padding: .4rem 1rem;
    bottom: 8.3rem;
    left: 1rem;
    color: var(--heading-color);
}

.event-cards img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.event-cards p {
    color: var(--dark-shade);
    padding: 8px 1rem;
    
}

.event-date {
    font-size: 1.1rem;
    font-weight: 600;
}

.weather-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    background-image: linear-gradient(skyblue,  #f6e564d7,rgba(25, 126, 67, 0.674));
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.633);
}

.weather-container section,
.weather-container div {
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    gap: .5rem;
    padding: 1rem;
}

.weather-container div section {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border-radius: 5rem;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.633);
    padding: .5rem 2rem;
}

#weather-now {
    font-size: 3.5rem;
}

#icon-today {
    width: 150px;
    height: auto;
    margin: 0;
}

.spotlight {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
}

.spotlight section {
    background-color: #775144;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.622) 1px 1px 2px;
}

.spotlight p,
.spotlight h3,
.spotlight a {
    color: var(--white-shade);
    text-align: center;
}

.spotlight p,
.spotlight a {
    margin-top: 8px;
}

.spotlight img {
    height: 15rem;
    width: auto;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: rgba(22, 19, 2, 0.643) 3px 3px 3px;
}