body {
    margin: 0 auto;
    max-width: 420px;
}

h1 {
    margin-top: 1rem;
}

main {
    border: gold 1px solid;
    border-radius: 2px;
}

p {
    font-weight: bold;
    text-align: center;
}

#weather-icon {
    width: 70px;
    height: auto;
}

figcaption {
    text-transform: capitalize;
    font-size: 2rem;
}

figure {
    text-align: center;

}

footer {
    margin-top: 2rem;
}

