:root {
    --primary-color: #FCBF49;
    --secondary-color: #582707;
    --accent-color: #1B4079;
    --white-shade: #faf9f6;
    --dark-shade: #1a2a40;
    --heading-font: "DM Serif Text", serif;
    --body-font: "Merriweather", serif;
    --body-font-size: clamp(.88rem, 2vw, 1rem);
    --yellow-shadow: 1px 1px 2px rgb(150, 121, 39);
}

@media screen and (min-width: 38rem) {
    .nav-button {
        display: none;
    }

    nav {
        background-color: var(--primary-color);
    }
    nav ul {
        display: flex;
        box-shadow: var(--yellow-shadow)
    }

    nav li {
        box-shadow: none;
    }
    
    main {
        display: grid;
        grid-template-columns: 70vw 25vw;
        grid-template-rows: 4rem auto auto;
        gap: 1rem;
    }

    main h1 {
        grid-row: 1/2;
        grid-column: 1/3;
    }

    .web-certificate {
        grid-row: 3/4;
        grid-column: 1/3;
    }

    
}