:root {
    --primary-color: #FCBF49;
    --secondary-color: #582707;
    --accent-color: #1B4079;
    --white-shade: #faf9f6;
    --dark-shade: #1a2a40;
    --heading-font: "DM Serif Text", serif;
    --body-font: "Merriweather", serif;
    --body-font-size: clamp(.88rem, 2vw, 1rem);
    --yellow-shadow: 1px 1px 2px rgb(150, 121, 39);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--body-font-size);
    color: var(--dark-shade);
}

body {
    background-color: var(--white-shade);
}

header,
main,
footer {
    margin: .5rem;
    padding: .5rem;
}

header {
    display: grid;
    grid-template-columns: auto auto 32px;
    font-family: var(--body-font);
}


.nav-button {
    grid-column: 3/4;
    border: none;
    background-color: var(--white-shade);
}

.nav-button::after {
    content: "\2630";
    font-size: 1.8rem;
}

.nav-button.show::after {
    content: "\00D7";
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav ul {
    display: none;
}

nav ul.show {
    display: block;
}

nav li {
    display: block;
    list-style: none;
    background-color: var(--primary-color);
    box-shadow: 1px 1px 2px rgb(150, 121, 39);
}

nav a {
    display: block;
    text-decoration: none;
    padding: 1rem;
    font-family: var(--body-font);
}

nav li:hover,
nav a:hover {
    border-radius: 4px;
    background-color: var(--secondary-color);
    color: var(--white-shade);
}

.wayfinding, .wayfinding a {
    color: var(--white-shade);
    background-color: var(--accent-color);
    border-radius: 4px;
}

.wayfinding:hover, .wayfinding a:hover {
    background-color: var(--secondary-color);
}


.logo {
    display: flex;
    align-items: center;
}

.logo p {
    color: var(--accent-color)
}

.logo img {
    height: 42px;
    width: auto;
    padding-bottom: 4px;
}

h1 {
    font-style: var(--heading-font);
    color: var(--secondary-color);
    text-shadow: 1px 1px 2px #999;
    
}

h2 {
    text-align: center;
    font-size: 1.3rem;
    background-color: var(--primary-color);
    border-radius: 7px;
    padding: .5rem;
    margin-bottom: .7rem;
    box-shadow: var(--yellow-shadow);
}

.student-photo img{
    width: auto;
    height: 20rem;
    display: flex;
    justify-self: center;
    border-radius: 4px;
    box-shadow: 7px 7px 7px #b5b4b4;
    
}

section {
    margin: 1rem 0;
    padding: 1rem 0;
}


.footer-icons {
    display: flex;
    justify-self: center;
    margin: 1rem;
    gap: 1.3rem;

}

.footer-notes {
    text-align: center;
    margin: 1rem;
    color: var(--accent-color);
}

.subject {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 1rem;
    text-align: center;
    gap: 1rem;
}

.subject section {
    box-shadow: var(--yellow-shadow);
    border-radius: 4px;
}

.course {
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.course button {
    padding: .6rem;
    border-radius: 4px;
    border: none;
    box-shadow: var(--yellow-shadow);
    margin: 0 1rem;
    font-weight: bold;
}

.course button:hover {
    background-color: white;
    box-shadow: 1px 1px 2px grey;
}

.about-me p {
    padding: 1rem 2rem;
}

.course p {
    flex-basis: 100%;
    text-align: center;
    margin-top: 1rem;
}